/*
GENERAL
 */
.hide {
    display: none;
}

.container {
    width: 85%;
}

body {
    background-color: rgb(237, 242, 249);
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.min-height-for-footer {
    min-height: 85vh;
}

.card-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-hr-colored {
    border: 1px solid rgba(62, 142, 208, 0.45);
}

.small-card-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.border-bottom:not(:last-child) {
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
}

.opacity-35 {
    opacity: 0.35;
}

.grid-view {
    min-height: 75vh;
 }

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    background-color: rgba(233, 233, 233, 0.35) !important;
}

.month-heading {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.back-link-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    padding-top: 6rem;
    background-color: rgb(237, 242, 249);
}

.is-hoverable {
    cursor: pointer;
}

.table tr.is-selected {
    background-color: #3e8ed0;
    color: #fff;
    border-radius: 25px;
}

.hidden {
    visibility: hidden;
}

.retro-list {
    position: relative;
    list-style: none !important;
    margin-left: 0;
    padding-left: 1.2em;
}

.retro-list li:before {
    content: "➦";
    position: absolute;
    left: 0;
}

.modal-card {
    width: 45%;
    min-height: 500px;
}

/*
THEMES
 */
.is-text-blue {
    color: #3e8ed0;
}

.positive-profit {
    color: #00873c;
}

.negative-profit {
    color: #eb0f29;
}

.target-hit {
    color: #00873c;
    font-weight: 500;
    background: rgba(0, 215, 50, 0.15);
}

.grid-trade-border {
    border-bottom: 2px solid rgba(62, 142, 208, 0.45);
}

/*
BOX THEMES
 */
.box-border-blue {
    border-top: 5px solid #3e8ed0;
}

.box-border-blue h2 {
    color: #3e8ed0;
}

.box-border-green {
    border-top: 5px solid #48c78e;
}

.box-border-green h2 {
    color: #48c78e;
}

/*
TYPOGRAPHY
 */

.is-size-6-half {
    font-size: 0.875rem !important;
}
